.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.Container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.imageUser{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -60px;
    border: 6px solid white;
}

.UserName{
    margin-top: -30px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.Score{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 16px;
}
.Score1{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 16px;
}
.Pscore{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1902px)
{
    .imageUser{
        width: 100px;
        height: 100px;
    }
    .cartPlayer{
        width: 200px;
    }
    .Content{
        width: 247px;
    }
}

@media screen and (max-width: 1597px)
{
    .Container{
        flex-direction: row;
        align-items: center;
        margin-left: 4%;
    }

    .Container2{
        flex-direction:row-reverse;
        align-items: center;
    }

    .UserName{
        margin-top: 0;
    }
    .imageUser{
        margin-top: 0;
        border: 6px solid rgb(2, 108, 124);
    }
    .Score1{
        flex-direction: row-reverse;
    }
}



@media screen and (max-width: 842px){
    .Container{
        gap: 10px;
    }
    .Container2{
        gap: 10px;
        margin-left: 40px;
    }
    .imageUser{
        width: 70px;
        height: 70px;
        border: 3px solid rgb(2, 108, 124);
    }
    .Score1{
        gap: 15px;
    }
    .Score{
        gap: 15px;
    }
}

@media screen and (max-width: 570px){
    .Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-left: 50px;
        
    }
    
    .Container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-left: 160px;
    }
}

@media screen and (max-width: 346px){
    .Container{
        gap: 20px;
        margin-left: 20px;
        
    }
    
    .Container2{
        gap: 20px;
        margin-left: 210px;
    }
}