
.Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.cartPlayer1{
    width: 247px;
    height: 260px;
    background-color: rgba(128, 128, 128, 0.262);
    border: 1px solid rgba(128, 128, 128, 0.303);
    border-radius: 20px;
}
.cartPlayer2{
    width: 247px;
    height: 260px;
    background-color: rgba(128, 128, 128, 0.262);
    border: 1px solid rgba(128, 128, 128, 0.303);
    border-radius: 20px;
}

.Game{
   width: 850px;
   height: 400px;
   background-color: black;
}

@media screen and (max-width: 1902px)
{
    .Container{
        gap: 70px;
    }
    .cartPlayer1{
        width: 200px;
        height: 200px;
    }
    .cartPlayer2{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1597px)
{
    .cartPlayer1{
        position: absolute;
        top: 10%;
        left: 8%;
        width: 420px;
        height: 170px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: flex;
        align-items: center;
        border-right: none;
        background-color: unset;
        border: none;
    }
    .cartPlayer2{
        position: absolute;
        top: 10%;
        right: 9%;
        width: 420px;
        height: 170px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        display: flex;
        align-items: center;
        border-left: none;
        background-color: unset;
        border: none;
    }
}

@media screen and (max-width: 1597px){
    .cartPlayer1{
        left: 2%;
    }
    .cartPlayer2{
        right: 0%;
    } 
}

@media screen and (max-width: 1009px)
{
    .cartPlayer1{
        left: 2%;
    }
    .cartPlayer2{
        right: 0%;
    }
}

@media screen and (max-width: 828px)
{
    .cartPlayer1{
        left: 2%;
        top: 15%;
        width: 320px;
    }
    .cartPlayer2{
        right: 0%;
        top: 15%;
        width: 320px;
    }
}
@media screen and (max-width: 570px){
    .cartPlayer1{
        left: 2%;
        top: 7%;
        width: 320px;
    }
    .cartPlayer2{
        right: 0%;
        top: 7%;
        width: 320px;
    }
}

@media screen and (max-width: 324px){
    .cartPlayer1{
        width: 300px;
        top: 4%;
    }
    .cartPlayer2{
        top: 4%;
    }
}

@media screen and (max-width: 280px)
{
    .cartPlayer1{
        width: 270px;
        top: 4%;
    }
}