.container {
  width: 25%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.808);
  position: absolute;
  left: 40%;
  top: 30%;
  border-radius: 10px;
}
.text1{
  padding: 15px;
}
.img {
  width: 130px;
  height: 130px;
  background: cadetblue;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}
.row {
  display: flex;
  width: 80%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  width: 100%;
  height: 150px;
  gap: 25%;
  align-items: center;
  justify-content: center;
}

.row0 {
  margin-top: 6%;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row1 {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  margin-top: 3%;
}
.error {
  position: absolute;
  right: 70px;
  color: rgba(255, 0, 0, 0.924);
  font-size: 17px;
  font-weight: bolder;
}
.ValidText {
  position: absolute;
  right: 180px;
  color: rgba(0, 255, 255, 0.733);
  font-size: 17px;
  font-weight: bolder;
}
.text1 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: #d1dbdc;
}

.text2 {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #d1dbdc;
}
.text3 {
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #d1dbdc;
}
.form {
  width: 80%;
  height: 230px;
}
.inptvalid {
  margin-left: 30px;
  border: 2px solid rgba(0, 255, 255, 0.63);
  box-shadow: 0px 0px 25px cyan;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  text-indent: 10%;
  background: rgb(175, 169, 169);
  color: black;
  font-weight: bold;
}
.inptInvalid {
  margin-left: 30px;
  border: 1.7px solid rgba(255, 0, 0, 0.788);
  box-shadow: 0px 0px 25px red;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  text-indent: 10%;
  background: rgb(175, 169, 169);
  color: white;
  font-weight: bold;
}

.inpt {
  margin-left: 30px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-indent: 10%;
  background: rgb(175, 169, 169);
  color: white;
  font-weight: bold;
}

.inptInvalid::placeholder {
  color: rgba(0, 0, 0, 0.808);
  font-weight: bold;
}

.subm {
  line-height: 35px;
  width: 105px;
  height: 42px;
  position: absolute;
  right: 20px;
  border: none;
  letter-spacing: 1px;
  color: #d1dbdc;
  background: black;
  border-radius: 3px;
  bottom: 25px;
  font-size: 17px;
  border: 1.5px solid cyan;
  box-shadow: 0px 0px 30px cyan;
  cursor: pointer;
}

.Btn {
  width: 130px;
  font-size: 17px;
  font-weight: bolder;
  background: #025159;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1dbdc;
  border-radius: 7px;
  cursor: pointer;
  letter-spacing: 2px;
}
.Btn:hover {
  color: #025159;
  background-color: #d1dbdc;
}

@media screen and (max-width: 2133px) {
  .form {
    width: 100%;
  }
  .row {
    width: 100%;
  }
  .error {
    top: 310px;
    right: 3%;
  }
  .ValidText {
    top: 310px;
    right: 18%;
  }
  .imge {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1772px) {
  .text1 {
    font-size: 17px;
  }
  .content {
    gap: 10%;
  }
  .row1 {
    display: block;
  }
  .inptInvalid {
    width: 50%;
    margin-left: 100px;
  }
  .inptvalid {
    width: 50%;
    margin-left: 100px;
  }
  .inpt {
    width: 50%;
    margin-left: 100px;
  }
  .text3 {
    margin-left: 100px;
  }
  .error {
    margin-top: 40px;
  }
  .ValidText {
    margin-top: 40px;
    margin-right: 26px;
  }
  .imge {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1248px) {
  .container {
    width: 50%;
    left: 25%;
  }
  .inptvalid {
    width: 200px;
  }
  .inptInvalid {
    width: 200px;
  }
  .inpt {
    width: 200px;
  }
}
@media screen and (max-width: 634px) {
  .container {
    width: 90%;
    left: 5%;
    top: 10%;
  }
  .error {
    left: 20%;
    transform: translateX(-10%);
  }
  .text3 {
    font-size: 17px;
  }
  .Btn {
    font-size: 15px;
    width: 110px;
  }
  .text1{
    font-size: 15px;
  }
  .child{
    margin-right: 10px;
  }
  .img{
    width: 100px;
    height: 100px;
  }
  .inptInvalid {
    width: 50%;
    margin-left: 80px;
  }
  .inptvalid {
    width: 50%;
    margin-left: 80px;
  }
  .inpt {
    width: 50%;
    margin-left: 80px;
  }
}
@media screen and (max-height: 601px){
  .container{
    top: 10%;
  }
}
