
.CartContainer
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    position: relative;
    background-image: url('../../public/images/cool.png');
    background-repeat: no-repeat;
    object-fit: fill;
}
.userInfo{
    height: 100px;
    width: 158px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.userName{
    font-family: monospace;
    font-size: 17px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.55);

}

.textContent{
    color: rgba(0, 0, 0, 0.55);

    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    width: 350px;
}

.sparet{
    height: 80px;
    width: 1.6px;
    background-color: rgb(26, 105, 119);
}
.userimageOff{
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(205, 0, 0);
}

.userimageON{
    margin-left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(10, 145, 1);
}

.allButton{
    width: 27%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    position: absolute;
    right: 2%;
}

.btn{
    transition: 0.4s;
    height: 40px;
    width: 60px;
    color: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    border: none;
    box-shadow: rgb(4, 121, 142) 0px 0.5px 10px;
    font-family: monospace;
    font-size: 18px;
    font-weight: bolder;
    /* border: 1px solid rgb(26, 105, 119); */
    cursor: pointer;
    background-color: #3bb1f7;
    background-image: linear-gradient(288deg, #3bb1f7 0%, #80d0c7 100%);
}
.btn:hover{
    box-shadow: 0px 0px 20px white;
}

@media screen and (max-width: 1979px)
{
    .userInfo{
        gap: 5px;
        width: 140px;
    }
    .userName{
        font-size: 15px;
    }
    .textContent{
        font-size: 15px;
    }
    .allButton{
        gap: 7px;
        right: -5%;
        flex-direction: column;
        height: 100%;
    }
    .btn{
        width: 57px;
        height: 27px;
        font-family: monospace;
        font-size: 15px;
        font-weight: bolder;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 1625px){
    .CartContainer{
        width: 98%;
        height: 170px;
        flex-direction: column;
        gap: 5px;
    }
    .allButton{
        flex-direction: row;
        right: 38%;
        bottom: 7%;
        gap: 40px;
        height: 20px;
    }
    .sparet{
        height: 2px;
        width: 90%;
    }
    .userInfo{
        gap: 20px;
        height: 70px;
        width: 80%;
        justify-content: center;
    }
    .userimageOff{
        margin-left: 0px;
        width: 50px;
        height: 50px;
        border: 3px solid rgb(205, 0, 0);
    }
    .userimageON{
        margin-left: 0px;
        width: 50px;
        height: 50px;
        border: 3px solid rgb(10, 145, 1);
    }
    .textContent{
        font-size: 13px;
        width: 250px;
    }
}

@media screen  and (max-width: 280px){
    .textContent{
        font-size: 12px;
        width: 224px;
    }
}