.listeMtch{
    background: inherit;
    width: 98.0.8%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(0, 98, 115) 0px 1px 10px;
}
.player1{
    display: flex;
    gap: 10%;
    width: 20%;
    align-items: center;
}
.player2{
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
    width: 20%;
    align-items: center;
}
.userName{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bolder;
    font-family: monospace;
    font-weight: bolder;
    color: rgb(87, 87, 87);
}
.Vs{
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(0, 120, 142);
    font-family: monospace;
}
.img{
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    border: 4px solid rgb(0, 98, 115);
}
.watch{
    width: 70px;
    height: 35px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    font-family: monospace;
    border-radius: 10px;
    color: rgb(0, 120, 142);
    background-color: inherit;
    margin-right: 10px;
    box-shadow: rgb(0, 98, 115) 0px 0px 10px;
}
.watch:hover{
    background-color: rgb(87, 87, 87);
    color: rgb(0, 187, 255);
}
@media screen  and (max-width: 1216px){
    .img{
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 768px)
{
    .imagediv{
        display: none;
    }
    .player1 .userName{
        position: absolute;
        left: 6%;
        letter-spacing: 1px;
    }
    .player2 .userName{
        position: absolute;
        right: 25%;
        letter-spacing: 1px;
    }
    .watch{
        position: absolute;
        right: 4%;
        letter-spacing: 1px;
    }
    .Vs{
        position: absolute;
        left: 37%;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 446px){
    .watch{
        height: 35px;
        width: 35px;
        overflow: hidden;
        border-radius: 50%;
        text-align: center;
        right: 5%;
        text-transform: uppercase;
        text-indent: 0;
        letter-spacing: 3px;
        box-shadow: rgb(0, 98, 115) 0px 1px 7px;
        border: 2px solid rgba(0, 98, 115, 0.752);
    }
    .listeMtch{
        box-shadow: rgb(0, 98, 115) 0px 1px 7px;
    }
    .player1 .userName{
        position: absolute;
        left: 10%;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .player2 .userName{
        position: absolute;
        right: 28%;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .Vs{
        position: absolute;
        left: 37%;
        letter-spacing: 0px;
        font-size: 15px;
    }
}
@media screen and (max-width: 411px){
    .watch{
        right: 4%;
    }
}
@media screen and (max-width: 323px){
    .player1 .userName{
        position: absolute;
        left: 11%;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .player2 .userName{
        position: absolute;
        right: 22%;
        letter-spacing: 1px;
        font-size: 15px;
    }
}