.Container{
    width: calc(100% - 100px);
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contante{
    width: 55%;
    height: 65vh;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.465);
    border-radius: 20px;
}