@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Henny+Penny&family=Irish+Grover&family=Nosifer&family=Press+Start+2P&family=Reggae+One&family=Shojumaru&family=Trade+Winds&display=swap");


.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
  
.row {
  background-color: black;
  width: 500px;
  height: 700px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.winicon {
  width: 220px;
  height: 220px;
  margin-top: 15px;
  border-radius: 50%;
  /* background-color: black; */
  object-fit: cover;
}

.usericon {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.circleicon {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 46.98%;
  top: 51.5%;
}

.gameover {
  position: absolute;
  top: 2%;
}

.gameover {
  font-family: "Press Start 2P", cursive;
  font-size: 130px;
  font-weight: bolder;
}
.Pgame {
  color: rgb(219, 2, 2);
  text-shadow: -1px -1px 1px #efede3, 0px 1px 0 #5f0909, 0px 2px 0 #022262,
    0px 3px 0 #021b73, 0px 4px 0 #024eab, 0px 5px 0 #024eab, 0px 6px 0 #024eab,
    0px 7px 0 #024eab, 0px 8px 0 #024eab, 0px 9px 0 #024eab, 0px 10px 0 #024eab,
    0px 11px 0 #024eab, 0px 12px 0 #024eab, 0px 13px 0 #024eab,
    0px 14px 0 #024eab, 0px 15px 0 #024eab, 2px 20px 5px rgba(0, 0, 0, 0.9),
    5px 23px 5px rgba(0, 0, 0, 0.3), 8px 27px 8px rgba(0, 0, 0, 0.5),
    8px 28px 35px rgba(0, 0, 0, 0.9);
}

.spanover {
  color: rgb(0, 103, 214);
  text-shadow: -1px -1px 1px #efede3, 0px 1px 0 #380101, 0px 2px 0 #3a0202,
    0px 3px 0 #580000, 0px 4px 0 #900202, 0px 5px 0 #900202, 0px 6px 0 #900202,
    0px 7px 0 #900202, 0px 8px 0 #900202, 0px 9px 0 #900202, 0px 10px 0 #900202,
    0px 11px 0 #900202, 0px 12px 0 #900202, 0px 13px 0 #900202,
    0px 14px 0 #900202, 0px 15px 0 #900202, 2px 20px 5px rgba(0, 0, 0, 0.9),
    5px 23px 5px rgba(0, 0, 0, 0.3), 8px 27px 8px rgba(0, 0, 0, 0.5),
    8px 28px 35px rgba(0, 0, 0, 0.9);
}

/* font-family: 'Fontdiner Swanky', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Irish Grover', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Reggae One', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Trade Winds', cursive; */

.allimg {
  width: 100%;
  text-align: center;
}
.twolastP {
  text-align: center;
}
.child1 {
  display: flex;
  flex-direction: column;
}
.row1 {
  display: flex;
  flex-direction: column;
}
.divwin {
  text-align: center;
}
.Congra {
  color: white;
  font-size: 17px;
  font-family: "Trade Winds", cursive;
  font-weight: bolder;
  text-align: center;
}
.scor {
  color: white;
  font-family: "Shojumaru", cursive;
}
.youwin {
  color: #b40101;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin-top: 67px;
  font-size: 50px;
  font-weight: bolder;
}

@media screen and (max-width: 1271px)
{
  .gameover{
    font-size: 100px;
  }
  .row{
    width: 450px;
    height: 650px;
  }
}
@media screen and (max-width: 1000px)
{
  .gameover{
    font-size: 70px;
  }
  .row{
    width: 400px;
    height: 600px;
  }
}
@media screen and (max-width: 768px)
{
  .youwin{
    font-size: 40px;
    margin-top: 60px;
  }
  .winicon{
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 414px){
  .gameover{
    font-size: 35px;
  }
  .youwin{
    font-size: 35px;
    margin-top: 50px;
  }
  .winicon{
    width: 150px;
    height: 150px;
  }
  .row{
    width: 300px;
    height: 500px;
    margin-top: 150px;
  }
  .usericon{
    width: 100px;
    height: 100px;
  }    
}
@media screen and (max-width: 280px){
  .row{
    width: 270px;
    height: 500px;
  }
  .gameover{
    font-size: 25px;
  }
  .youwin{
    font-size: 25px;
    margin-top: 50px;
  }
  .winicon{
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 631px){
  .gameover{
    font-size: 40px;
  }
  .row{
    width: 400px;
    height: 550px;
  }
  .row1{
    height: 550px;
  }
}
@media screen and (max-width: 320px){
  .gameover{
    font-size: 30px;
  }
  .row{
    width: 290px;
    height: 450px;
  }
  .youwin{
    font-size: 23px;
    margin-top: 40px;
  }
}