.Container{
    width: 80%;
    height: 850px;
    border-radius: 20px; 
    background-color: rgba(6, 158, 150, 0.337);
    border: 1px solid #025159;
    position: absolute;
    top: 500px;
}
.EndMatch{
    font-size: 20px;
}

.containerHistory{
    width: 100%;
    max-height: 86%;
    padding-top: 35px;
    overflow-y: scroll;
    position: relative;
}
.matchHestory{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: #025159;
    font-size: 25px;
    text-align: center;
    position: sticky;
    top: 10px;
}
@media screen and (max-width:2273px){
    .Container{
        width: 90%;
        height: 750px;
    }
    .containerHistory{
        height: 630px;
    }
}

@media screen and (max-width:1444px){
    .Container{
        width: 97%;
        top: 490px;
        height: 900px;
    }
    .containerHistory{
        height: 880px;
    }
}
@media screen and (max-width:1024px){
    .Container{
        height: 600px;
        width: 81%;
        top: 850px;
    }
    .containerHistory{
        height: 480px;
    }
    .child2 .myimg{
        display: none;
    }
    .child3 .vsimg{
        display: none;
    }  
}

@media screen and (max-width: 767px)
{
    .Container{
        height: 600px;
        width: 81%;
        top: 600px;
    }
    .containerHistory{
        height: 480px;
    }
    .child2 .winIcon{
        display: none;
    }
    .child3 .winIcon{
        display: none;
    }
    .match .EndMatch{
        font-size: 12px;
        font-weight: bold;
    }
    .content .child2{
        gap: 7px;
    }
    .content .child3{
        gap: 7px;
    }
    .child3 .EndMatch1{
        font-size: 17px;
    }
    .child2 .EndMatch1{
        font-size: 17px;
    }
    .content .child3{
        margin-right: 17px;
    }
    .content .child2{
        margin-left: 17px;
    }
}
@media screen and (max-width: 547px){
    .Container{
        width: 100%;
        top: 540px;
    }
    .containerHistory .match{
        height: 65px;
    }
}
.match{
    display: flex;
    background-color: rgba(6, 158, 150, 0.5);
    height: 120px;
    width: 85%;
    margin: auto;
    border-radius: 20px;
    border: 1.4px solid #02505982;
    margin-bottom: 15px;
}

.separet{
    width: 1400px;
    height: 20px;
}
.allcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerHistory::-webkit-scrollbar {
    width: 12px;
    height: 5%;
}
  /* Track  */
.containerHistory::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}  
  /* Handle */
.containerHistory::-webkit-scrollbar-thumb {
    background-color: #025159;
    border-radius: 50px;
}
  
  /* Handle on hover */
.containerHistory::-webkit-scrollbar-thumb:hover {
    background-color: #025159;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.chaild1{
    height: 10%;
    display: flex;
    justify-content: space-around;
}
.child2{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}
.child3{
    width: 45%;
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
}
.winIcon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.img1{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
}

.img2{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}
.VS{
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: red;
}
.imgicon{
    width: 23px;
    height: 23px;
}

.EndMatch{
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #025159;
}

.EndMatch1{
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #025159;  
}

.myimg{
    margin-left: 20px;
}
.vsimg{
    margin-right: 20px;
}