@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');
.userCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 180px;
    cursor: pointer;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.803);
    border-radius: 10px;
    position: relative;
}
.userCard:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 180px;
    cursor: pointer;
    margin-bottom: 40px;
    background: white;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.139), 0 17px 50px 0 rgba(0, 0, 0, 0.125);

    cursor: pointer;
}

.profileImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}

.imgFriendsContainer {
    position: absolute;
    top: 15%;
    left: 8%;
}

.friendsStatusOffline {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 12px;
    background-color: gray;
    border: 5px solid white;
    border-radius: 50%;
}
.friendsStatusOnline {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: green;
    border: 5px solid white;
    border-radius: 50%;
}

.userName {
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 18px;
    position: absolute;
    top: 11%;
    left: 28%;
    color: #025159;
}

.status {
    position: absolute;
    left: 28%;
    top:20%;
    color: #a9a9a9;
}

.LastMessage {
    position: relative;
    top: 30px;
    color: rgba(128, 128, 128, 0.671);
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap;
}
.child::-webkit-scrollbar {
    width: 12px;
    height: 5%;
}
  /* Track  */
.child::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
} 

  /* Handle */
.child::-webkit-scrollbar-thumb {
  background-color: #025159;
  border-radius: 50px;
}
/* Handle on hover */
.child::-webkit-scrollbar-thumb:hover {
  background-color: #025159;
}

@media only screen and (max-width: 2000px){
    .userName {
        font-size: 15px;
        left: 90px;
        top: 12%;
        width: 160px;
        /* background-color: red; */
    }
    .status {
        left: 90px;
        top: 20%;
        font-size: 12px;
    }
}

@media only screen and (max-width: 1440px) {
    .userCard {
        height: 150px;
        width: 60%;
    }
    .userCard:hover {
        height: 150px;
        width: 60%;

    }
    .userName {
        font-size: 15px;
        left: 130px;
        top: 15%;
        width: 200px;
        /* background-color: red; */
    }
    .status {
        left: 130px;
        top: 25%;
        font-size: 12px;
    }
}
@media only screen and (max-width: 1000px){
    .userCard {
        height: 150px;
        width: 60%;
    }
    .userCard:hover {
        height: 150px;
        width: 60%;

    }
    .userName {
        font-size: 15px;
        left: 40%;
        top: 15%;
        width: 20px;
    }
    .status {
        left: 40%;
        top: 35%;
    }
}

@media only screen and (max-width: 345px){
    .userCard {
        height: 150px;
        width: 200px;
    }
}