.pageAchiev {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.container {
  width: 60%;
  height: 90%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}
.ContentScrole {
  max-height: 85%;
  width: 95%;
  display: flex;    
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 200px;
}

.carte {
  background-color: #004547;
  width: 420px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid white;
}
.content {
  width: 80%;
  height: 40%;
  gap: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.textAchiev {
  color: #dbfcff;
  opacity: 0.7;
  margin-left: 38px;
  line-height: 27px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nameAchievement {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #dbfcff;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: bolder;
}
@media screen and (max-width: 2353px) {
  .ContentScrole {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 95%;
  }
  .ContentScrole .carte {
    width: 420px;
  }
  .ContentScrole{
      top: 55px;
  }
  .carte .textAchiev {
    margin-left: 0px;
    width: 100%;
    padding: 5px;
    height: 42%;
    line-height: 35px;
  }
  .textAchiev .Pdescription {
    margin-top: 0px;
  }
}
@media screen and (max-width: 320px){
    .carte .textAchiev {
        margin-left: 0px;
        width: 100%;
        padding: 5px;
        height: 42%;
        line-height: 25px;
      }
}
