
.App{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../public/images/cool.png');
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: cover;
}

/* .Container{
  background-color: black;
  width: 100%;
  height: 100%;
} */